.book-description {
  &__content {
    width: 50%;
  }
  &__window {
    width: 85%;
    height: 70%;
    gap: 20px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    padding: 30px 20px;
  }
  &__img {
    display: block;
    max-width: 50%;
    height: auto;
  }
  &__button-container {
    display: grid;
    gap: 8px;
  }
  &__book {
    &-name {
      font-size: 20px;
      text-wrap: wrap;
    }
    &-authtor {
      font-size: 16px;
      text-wrap: wrap;
    }
    &-description {
      margin-bottom: 20px;
      text-wrap: wrap;
    }
    &-button {
      background-color: $main-txt-color;
      padding: 8px 12px;
      border: 1px solid black;
      border-radius: 16px;
    }

    &-link {
      text-align: center;
      text-decoration: none;
      color: #000;
      padding: 8px 12px;
      border: 1px solid black;
      border-radius: 16px;
    }
  }
}

.uploading-input {
  &::before {
    content: "";
    position: absolute;
    transform: translateY(-17px);
    color: lightslategrey;
  }
  &--pdf::before {
    content: "Upload pdf file";
  }
  &--png::before {
    content: "Upload png file";
  }
}
@media (max-width: 1080px) {
  .book-description {
    &__window {
      width: 80%;
    }
  }
}
@media (max-width: 860px) {
  .book-description__img {
    height: fit-content;
  }
}
@media (max-width: 550px) {
  .book-description {
    &__window {
      min-height: 60%;
    }
  }
}
